*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
header{
    background-image: url(./assets/hero.jpg);
    height: 100vh;
}
nav{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.left p
{
    color: white;
    font-size: 40px;
}
.right{
    display: flex;
    color: white;
}
ul{
    list-style: none;
    display: flex; 
}
li
{
    margin-left: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover
{
 border-radius: 82px;
 background-color: white;
 color: black;
}


