*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
header{
    background-image: url(./assets/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.left p
{
    color: white;
    font-size: 40px;
}
.right{
    display: flex;
    color: white;
}
ul{
    list-style: none;
    display: flex; 
}
li
{
    margin-left: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover
{
/*border-radius: 82px;*/
 background-color: white;
 color: black;
}
.herotext
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.herotext p:first-child {
    font-size: 40px;
    margin: 15px;
}

.herotext p:last-child {
    font-size: 20px
}
.herotext button
{
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
    color: black;
}
.herotext button:hover
{
    background-color: rgb(241, 101, 7);
    color: white;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 30px;
}
.dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
}
.dropdown {
    position: absolute;
    top: 61px;
    right: 0px;
    display: inline-block;
}

.dropdown-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(201, 25, 25, 0.2);
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
background-color: antiquewhite;
color: black;
}
section.ourfeatures
{
    height: 50vh;
    width: 100%;
    background-color: #77ec08;
}
section.ourfeatures .feature{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    background-color: #1d20c4;
}
.ft1,.ft2,.ft3{
    height: 250px;
    width: 300px;
    background-color: red;
    margin: 20px 0;
}
.ourfeatures p{
    color: white;
     text-align: center;
     font-size: 1.8rem;
}
section.ourservices
{
    height: 50vh;
    width: 100%;
    background-color: #77ec08;
}
section.ourservices .service{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    background-color: #1d20c4;
}
.sr1,.sr2,.sr3{
    height: 250px;
    width: 300px;
    background-color: red;
    margin: 20px 0;
}
.ourservices p{
    color: white;
     text-align: center;
     font-size: 1.8rem;
}