@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    ;
}

html {
    scroll-behavior: smooth;
}


nav {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top: 0;
    left: 0;
}

.left p {
    color: white;
    font-size: 40px;
    font-family: poppins;
}

.right {
    display: flex;
    color: white;
    font-family: poppins;
}

ul {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;
    padding: 0 15px;
}
ul li a.active{
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    border-radius: 8px;
    background-color: white;
    color: black;
    font-family: poppins;
    font-size: 18px;
    /* border: 1px solid red; */
}
.ridetxt p
{
    color: black;
}
div.rides
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* background-color: aqua; */
}
div.rides .rider
{
    width: 615px;
height: 486px;
  background-color: #D9D9D9;
margin: 20px auto;
}
div.rides .rider img
{
    width: 423px;
    height: 248px;
    margin: 9px 96px;
}
.ridetxt{
    text-align: center;
}
