@import url(https://fonts.googleapis.com/css?family=Poppins);
/* 0818b83e0b90ab1e7b053d86806fccda */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    ;
}

html {
    scroll-behavior: smooth;
}


nav {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.left p {
    color: white;
    font-size: 40px;
    font-family: poppins;
}

.right {
    display: flex;
    color: white;
    font-family: poppins;
}

ul {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;
    padding: 0 15px;
}
ul li a.active{
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    border-radius: 8px;
    background-color: white;
    color: black;
    font-family: poppins;
    font-size: 18px;
    /* border: 1px solid red; */
}
/*--- form section css--*/
.signin{
   background: url(images/sign\ in\ bg.jpg);
    height: 100vh;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.input{
    width: 80%;
    height: 40px;
    margin: 2rem;
    
}
.signin h1{
    margin-bottom: 4rem;
    font-size: 30px;
}
.signin .heading{
    color: rgb(35, 34, 34);

}
.signin button{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border-style: none;
    font-size: larger;
    color: white;
    background-color: chocolate;
    margin-bottom: 20px;
}.signin p{
    font-size: 15px;
}
.signin p a{
    font-size: 20px;
    text-decoration: none;
}
.signin button:hover{
    background-color: orange;
}

